html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.shipmaster-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.shipmaster-drawer {
  border: none;
}
.shipmaster-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.shipmaster-navigation {
  flex-grow: 1;
}
.shipmaster-layout .shipmaster-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.shipmaster-layout .shipmaster-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.shipmaster-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.mdl-card {
  width: 100%;
  margin-bottom: 24px;
}
