sudo: required
language: python

python:
  - "3.5"
  - "3.6"

services:
  - docker

install: pip install tox-travis coverage
script: tox

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false
