{% extends "shipmaster/base.html" %}
{% load i18n static dartium %}

{% block content %}

<div class="mdl-cell mdl-cell--6-col">

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h4>Build #{{ current_build.number }}</h4>
      <p>A build is created in response to a GitHub pull request. This also results in a new docker container being created which can then be deployed.</p>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h4>Test</h4>
      <p>Test runs against this build.</p>
      <ul>
        {% for test in current_build.sorted_tests %}
          <li>
            <a href="{% url "test" current_repo.name current_build.number test.number %}">Test Run # {{ test.number }} {{ test.result_display }} {{ test.coverage_display }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mdl-card__actions">
      <a href="{% url "test.start" current_repo.name current_build.number %}" class="mdl-button">{% trans "Start Test" %}</a>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <h4>Deploy</h4>
      <p>Deployments initiated with this build.</p>
      <ul>
        {% for deployment in current_build.sorted_deployments %}
          <li>
            <a href="{% url "deployment" current_repo.name current_build.number deployment.number %}">Deployment #{{ deployment.number }} to {{ deployment.destination }} {{ deployment.result }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mdl-card__actions">
      {% for destination in infrastructure.get_deploy_destinations %}
        <a href="{% url "deployment.start" current_repo.name current_build.number destination %}" class="mdl-button">{% trans "Deploy" %} {{ destination }}</a>
      {% endfor %}
    </div>
  </div>

</div>
<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white">

  <div id="log-output"
     data-path="{{ current_build.path.log }}"
     {% if current_build.has_build_finished %}
     data-finished="{{ current_build.elapsed_time }}"
     {% endif %}>
    {% if current_build.has_build_finished %}
      {{ current_build.log|linebreaksbr }}
    {% endif %}
  </div>

</div>
{% endblock %}

{% block script %}
  {% dart "client.dart" %}
{% endblock %}
