{% extends "shipmaster/base.html" %}
{% load i18n dartium %}

{% block content %}

  <div class="mdl-cell mdl-cell--6-col">

    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h4>Infrastructure</h4>
        <p>Pull the latest source from {{ infrastructure.git }} to update your infrastructure configuration.</p>
      </div>
      <div class="mdl-card__actions">
        <a href="{% url "build.start" current_repo.name %}" class="mdl-button">{% trans "Update" %}</a>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h4>Git Output</h4>
        <div id="log-output"
             data-path="{{ current_repo.path.log }}"
            {% if current_repo.is_log_finished %}
             data-finished="yes"
            {% endif %}>
          {% if current_repo.is_log_finished %}
            {{ current_repo.log|linebreaksbr }}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %}
  {% dart "client.dart" %}
{% endblock %}
