{% extends "shipmaster/base.html" %}
{% load i18n %}

{% block content %}

  <div class="mdl-cell mdl-cell--6-col">

    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h4>Infrastructure</h4>
        <p>Pull the latest source from {{ infrastructure.git }} to update your infrastructure configuration.</p>
      </div>
      <div class="mdl-card__actions">
        <a href="{% url "repository.pull" infrastructure.name %}" class="mdl-button">{% trans "Update" %}</a>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <h4>Git Output</h4>
        {% if infrastructure.has_log %}
        <div id="build-log"
          data-path="{{ infrastructure.path.git_log }}"
          {% if infrastructure.is_log_finished %}data-finished="yes"{% endif %}>
          {% if infrastructure.is_log_finished %}
            {{ infrastructure.formatted_checkout_log|linebreaksbr }}
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white">
    <pre>{{ infrastructure.formatted_compose_config }}</pre>
  </div>

{% endblock %}
